.do-not-prefix {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.border-radius {
  border-radius: 30px;
}

.transform {
  -moz-transform: translate(10px, 20%);
  -webkit-transform: translate(10px, 20%);
      -ms-transform: translate(10px, 20%);
       -o-transform: translate(10px, 20%);
          transform: translate(10px, 20%);
}

.transition {
  -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
       transition: -webkit-transform .3s;
       transition: transform .3s;
}

.other {
  -moz-padding: 20px;
  -o-padding: 20px;
  padding: 20px;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: -ms-center;
  text-align: -o-center;
  text-align: center;
  bar: -webkit-test;
  -ms-foo: 30px;
}
